.container {
  flex-direction: column;
  align-items: center;
}

.page-body {
  flex-direction: column;
  width: 85%;
  gap: 5rem;
}
.cards-container {
  gap: 2rem;
  overflow: auto;
}

.experiences-section {
  flex-direction: column;
  gap: 1rem;
}

.novedades-section {
  flex-direction: column;
}

.novedades-container {
  gap: 2rem;
  overflow: auto;
}
