.container{
  flex-direction: column;
  align-items: center;
}

.page-body{
  flex-direction: column;
  width:85%;
  border:3px solid greenyellow;
}
.header {
  flex-direction: column;
  align-items: center;
  margin:2rem;
}
.cards-container {
  gap: 2rem;
  overflow: auto;
}

.experiences-section {
  flex-direction: column;
  border:4px solid red;
  gap:1rem;
}
