.expense-form {
  flex-direction: column;
  gap: 1rem;
  width: 20rem;
}

.add-submit-button {
  padding: 0.75rem;
  border-radius: 0.5rem;
  border: none;
  align-self: center;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}
