body {
  background-color: rgb(84, 87, 100);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.root-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
