.modal-container {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  width: 100%;
  height: 100%;
}

.modal-content {
  flex-direction: column;
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
}

.close {
  align-self: flex-end;
  font-size: 2rem;
  font-weight: bold;
  color: #aaaaaa;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
